html,
body {
    height: 100%;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.pimg1 {
    background-image: url(images/image1.png);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptext {


    font-size: 27px;
    letter-spacing: 8px;
}

.textbg {
    background-color: rgb(36, 30, 30);
    color: white;
    padding: 20px;
}

.pimg2 {
    background-image: url(images/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.section {
    padding: 50px 80px;
    text-align: center;

}

.dark {
    background-color: rgb(36, 30, 30);
    color: white;
}